<div class="sidebar-content">
    <div class="sidebar-headline">
        <h1>grapheo12</h1>
    </div>
    
    <div class="sidebar-links"><a href="/index.html">About</a></div>
    <div class="sidebar-links"><a href="/tech/index.html">Blogs/Tech</a></div>
    <div class="sidebar-links"><a href="/literature/index.html">Blogs/Literature</a></div>
    <div class="sidebar-links"><a href="/life/index.html">Blogs/Life</a></div>
    <div class="sidebar-links"><a href="/slides.html">Slides</a></div>
    <div class="sidebar-links"><a href="/contact.html">Contact</a></div>
</div>
<div class="sidebar-end"><hr></div>

