<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {{ other_head }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        {% include 'lang.html' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <nav>
            <h1>{{ title }}</h1>
        </nav>
        <div class="container">
            <div class="sidebar">
                {% include 'nav.html' %}
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
        <style>
            {% include 'master.css' %}
        </style>
        <style>
            li {
                list-style-type: none;
                padding-left: 0;
            }
/* 
            li a:visited {
                color: white;
            }

            li a {
                color: white;
                text-decoration: none;
            } */
        </style>
        <script>hljs.highlightAll();</script>
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
    </body>
</html>